:root { 
--black_900_7f:#0000007f; 
--black_900_4c:#0000004c; 
--blue_gray_100:#d8d8d8; 
--blue_A400:#1877f2; 
--blue_500:#1da1f2; 
--black_900_0c:#0000000c; 
--black_900_1e:#0000001e; 
--black_900_99:#00000099; 
--black_900:#000000; 
--blue_gray_100_7f:#d8d8d87f; 
--black_900_82:#00000082; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}